<div class="modal fade" id="modalAddFabricante" tabindex="-1" role="dialog" aria-labelledby="modalAddFabricante"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title w-100 text-center" id="modalAddFabricante">Adicionar Fabricante</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nomefabricante" class="bmd-label-floating">Nome</label>
                    <input type="text" name="nomefabricante" id="nomefabricante" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="cnpjfabricante" class="bmd-label-floating">CNPJ</label>
                    <input type="text" name="cnpjfabricante" id="cnpjfabricante" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="urlfabricante" class="bmd-label-floating">Site</label>
                    <input type="text" name="urlfabricante" id="urlfabricante" class="form-control">
                </div>
            <div class="modal-footer">
                <button type="button" id="btnSalvarNovoFabricante" class="btn btn-primary" data-dismiss="modal">Salvar</button>
            </div>
        </div>
    </div>
</div>